# name: Deploy Backend

# on:
#   push:
#     branches: [ main ]

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout Backend Repo
#       uses: actions/checkout@v4

#     - name: Upload Backend to EC2
#       uses: appleboy/scp-action@v0.1.7
#       with:
#         host: ${{ secrets.EC2_HOST }}
#         username: ec2-user
#         key: ${{ secrets.EC2_SSH_KEY }}
#         source: "."
#         target: "/home/ec2-user/kzarre-backend"

#     - name: Run Backend Deploy Script
#       uses: appleboy/ssh-action@v0.1.7
#       with:
#         host: ${{ secrets.EC2_HOST }}
#         username: ec2-user
#         key: ${{ secrets.EC2_SSH_KEY }}
#         script: |
#           chmod +x /home/ec2-user/deploy-backend.sh
#           /home/ec2-user/deploy-backend.sh
